html, body { height: 100%; }
body { padding: 0; margin: 0; }

div.main {
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

div.main > div {
    background-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    left: 0px;
    right: 0px;
}

div.level-2 { border-color: red; }
div.level-1 { border-color: yellow; }
div.level-0 { border-color: green; }

div.main > div > span, div.main > div > div {
    font-size: 16pt;
    font-weight: bold;
    padding-left: 3px;
}
div.main > div > span { 
    padding-left: 1em;
}

div.main > div > div:first-child {
    width: 5em;
    float: left;
}

div.main > div > div:first-child[onclick]:hover {
    cursor: pointer;
}

div.level-2 > div { background-color: red; }
div.level-1 > div { background-color: yellow; }
div.level-0 > div { background-color: green; }

span.level-2, span.level-2 > a, span.level-2 > a:hover, span.level-2 > a:visited { color: red; }
span.level-1, span.level-1 > a, span.level-1 > a:hover, span.level-1 > a:visited { color: yellow; }
span.level-0, span.level-0 > a, span.level-0 > a:hover, span.level-0 > a:visited { color: green; }
span.level-E, span.level-E > a, span.level-E > a:hover, span.level-E > a:visited { color: #AAAAAA; }
span.level-N, span.level-N > a, span.level-N > a:hover, span.level-N > a:visited { color: black; }

div.main > div > div.alarms {
    display: none;
    background-color: #cccccc;
    font-size: 14pt;
}

table.legend {
    padding-top: 2em;
    padding-left: 0.5em;
}

td,th { 
    padding: 0.25em;
    font-size: 14pt; 
}
th { 
    font-weight: bold; 
    background-color: #cccccc;
}
th.title { 
    font-size: 18pt; 
    background-color: #aaaaaa;
}

tr.r0 > td { background-color: #99CCCC; }
tr.r1 > td { background-color: #6699CC; }

